extends layout

block content

  #header
    != str.lang_link
    .splash

  #congrats
    p.
      Congratulations on your reservation!
      See you at the beach!
      Here is the guide:

    img(src="/img/gettingthere.jpg")


    p
      a(href="/") Back to the Festival's Site