extends index

block detail
  #detail
    a.close.grow-rotate(href="/") Close
    h1= detail.name
    .image(style="background-image: url(/media/#{detail.slug}.jpg)")
    .text
      if detail.song
        .tabs
          a.bio(style="display:none")(href="#bio") Bio
          a.listen(href=detail.song) Escucha
      .bio-content
        p= detail.bio[lang]
      .listen-content

    .controls
      a.prev(href="/" + prev.slug): span= prev.name
      a.next(href="/" + next.slug): span= next.name

append scripts
  script. $('#detail-container').show()