extends layout

block content
  a#last-year.buzz-out(href="//2013.amfmf.com")
    span.hand ☜
    span.text Last year's AMF
  a#event.wobble-top(href="https://www.facebook.com/events/726790910698788")
    img(src="/img/event.png")
  #tattoos
  video(autoplay, loop, poster="/img/video.jpg")
    source(src=video, type="video/mp4")
