extends layout

block content

  script.
    window.AMFLINEUP = !{JSON.stringify(lineup)}

  #header(data-path="/", data-marker)
    img(src="/img/amfsplash.png")

  #lineup(data-path="/lineup", data-marker)
    .bands
      .row
        a(href="/gonjasufi") Gonjasufi
        a(href="/bleached") Bleached
        a(href="/pointloma") Point Loma (Bostich)
      .row
        a(href="/lasrobertas") Las Robertas
        a(href="/fuetebillete") Fuete Billete
        a(href="/lumerians") Lumerians
      .row
        a(href="/clubz") Clubz
        a(href="/santos") Santos
        a(href="/latenitehowl") Late Nite Howl
      .row
        a(href="/gmrm") Ghost Magnet Roach Motel
      .row
        a(href="/warmplaces") Warm Places
        a(href="/batwingsvsskrapez") Batwings vs Skrapez
      .row
        a(href="/systemerror") System Error
        a(href="/brunodario") Bruno Darío
      .row
        a(href="/cesarcoronado") César Coronado
        a(href="/ladrones") L.A. Drones
      .row
        a(href="/czar") Czar
        a(href="/tolo") Tolo
        a(href="/schuy") S Chuy
    .other
      .row
        :markdown
          ### Cocina Central Chefs:
          [Alberto Cancino](/albertocancino), [Jorge L. García](/chido), [Martín Vargas](/marginvargas) y [Paty Estrada](/patyestrada)
      .row
        :markdown
          ### Music Makers Hack Lab
          Leslie García y Michael Trigilio

  #detail-container(style="display:none")
    block detail
      #detail
    .bg
    .bg


  #more-info
    h1.when Del 13 al 15 de Junio 2014
    .places
      h1 Festival Site
      .site.festival-site
        h3 Castillos del Mar
        p.
          Carretera Libre Tijuana – Ensenada km 29.5<br>
          22710 Rosarito, Baja California Sur, Mexico
      .tickets
        h1 Tickets
        :markdown
          Preventa en línea con [Arema Tickets](https://www.arema.com.mx/arema/arefb/FuncionesEvento.asp?PosNArr=%201777)
          o en los siguientes puntos de venta:

      .site
        h4 Taquilla del Blackbox<br>
        p.
          Ave. Revolución<br>
          (1pm a 7pm de lun-sáb)

      .site
        h4 Café Diente de León<br>
        p.
          Malecón de Playas de Tijuana<br>
          (1pm a 7pm de lun-sáb)

      .site
        h4 Moustache Bar<br>
        p.
          Centro Entre 6ta y Madero<br>
          (1pm a 7pm de lun-sáb)


  footer
    .indio
    p
      a(href="https://www.facebook.com/allmyfriendsmf") Facebook
      a(href="https://www.twitter.com/infoamf") @infoamf



prepend scripts
  script(src="http://a.vimeocdn.com/js/froogaloop2.min.js")
