doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:title", content="Specola")
    meta(property="og:site_name", content="Specola")
    meta(property="og:url", content="http://specola.mx")
    meta(property="og:image", content="http://specola.mx/img/specola.png")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Spécola es una productora de video digital de servicio completo ubicada en Tijuana. Surge del interés y esfuerzo de los integrantes por establecer una entidad que logre la visión creativa que cada proyecto demande, ya sea propio o del cliente, con un nivel de calidad y profesionalismo que exprese la pasión que tenemos por el cine.")
    title= title
    != css('main')
    != js('modernizr')
    script.
      WebFontConfig = {
        google: { families: [ 'Karla:400,400italic,700,700italic:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })()
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="//www.gstatic.com/swiffy/v6.0/runtime.js")
    script(src="//a.vimeocdn.com/js/froogaloop2.min.js")
    != js('main')