.iframe-wrapper
  .iframe-height(style="padding-top:42.55%")
    iframe#video(src="//player.vimeo.com/video/93236872?api=1&amp;color=ffffff&amp;autoplay=#{locals.initial ? 0 : 1}", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
